$bkg: #fff;
$title: #fff;
$text: rgb(49, 48, 48);
$main: rgb(29, 46, 202);
$border: 1px solid red;
$r25: 25px;
$r15: 15px;
$r100: 50%;
$bkglg: linear-gradient(
  357deg,
  rgba(185, 230, 244, 0.6460959383753502) 3%,
  rgba(29, 46, 202, 0.9962359943977591) 87%
);
$bkglg-2: linear-gradient(
  180deg,
  rgba(29, 46, 202, 0.8925945378151261) 10%,
  rgba(173, 225, 241, 0.6460959383753502) 84%
);
