/******** font- weight *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

.container {
  min-width: 1440px;
  width: 100%;
  margin-inline: auto;
}

@media (max-width: 0) {
  body {
    background-color: red;
  }
}
@media (max-width: 480px) {
  body {
    background-color: blue;
  }
}
@media (max-width: 720px) {
  body {
    background-color: green;
  }
}
@media (max-width: 960px) {
  body {
    background-color: purple;
  }
}
@media (max-width: 1200px) {
  body {
    background-color: orange;
  }
}
@media (max-width: 1400px) {
  body {
    background-color: pink;
  }
}

.img-wrapper, .hero .scrool-part .scale-part #wrapper-6, .hero .scrool-part .scale-part #wrapper-5, .hero .scrool-part .scale-part #wrapper-4, .hero .scrool-part .scale-part #wrapper-3, .hero .scrool-part .scale-part #wrapper-2, .hero .scrool-part .scale-part #wrapper-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgb(139, 136, 136), 0 0 1em rgb(19, 191, 197), 0 0 0.2em rgb(36, 176, 241);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-wrapper img, .hero .scrool-part .scale-part #wrapper-6 img, .hero .scrool-part .scale-part #wrapper-5 img, .hero .scrool-part .scale-part #wrapper-4 img, .hero .scrool-part .scale-part #wrapper-3 img, .hero .scrool-part .scale-part #wrapper-2 img, .hero .scrool-part .scale-part #wrapper-1 img {
  width: 100%;
  height: 100%;
}
.img-wrapper .scale-main-title, .hero .scrool-part .scale-part #wrapper-6 .scale-main-title, .hero .scrool-part .scale-part #wrapper-5 .scale-main-title, .hero .scrool-part .scale-part #wrapper-4 .scale-main-title, .hero .scrool-part .scale-part #wrapper-3 .scale-main-title, .hero .scrool-part .scale-part #wrapper-2 .scale-main-title, .hero .scrool-part .scale-part #wrapper-1 .scale-main-title {
  position: absolute;
  top: 20%;
  margin-inline: auto;
  width: 60%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-wrapper .scale-main-title h1, .hero .scrool-part .scale-part #wrapper-6 .scale-main-title h1, .hero .scrool-part .scale-part #wrapper-5 .scale-main-title h1, .hero .scrool-part .scale-part #wrapper-4 .scale-main-title h1, .hero .scrool-part .scale-part #wrapper-3 .scale-main-title h1, .hero .scrool-part .scale-part #wrapper-2 .scale-main-title h1, .hero .scrool-part .scale-part #wrapper-1 .scale-main-title h1 {
  margin-bottom: 1rem;
  margin-right: 100px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 2.8rem;
  font-weight: bold;
  color: #fff;
}
.img-wrapper .scale-main-title h1 span, .hero .scrool-part .scale-part #wrapper-6 .scale-main-title h1 span, .hero .scrool-part .scale-part #wrapper-5 .scale-main-title h1 span, .hero .scrool-part .scale-part #wrapper-4 .scale-main-title h1 span, .hero .scrool-part .scale-part #wrapper-3 .scale-main-title h1 span, .hero .scrool-part .scale-part #wrapper-2 .scale-main-title h1 span, .hero .scrool-part .scale-part #wrapper-1 .scale-main-title h1 span {
  margin-left: 100px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
}
.img-wrapper .scale-main-title p, .hero .scrool-part .scale-part #wrapper-6 .scale-main-title p, .hero .scrool-part .scale-part #wrapper-5 .scale-main-title p, .hero .scrool-part .scale-part #wrapper-4 .scale-main-title p, .hero .scrool-part .scale-part #wrapper-3 .scale-main-title p, .hero .scrool-part .scale-part #wrapper-2 .scale-main-title p, .hero .scrool-part .scale-part #wrapper-1 .scale-main-title p {
  color: rgb(49, 48, 48);
  text-shadow: 1px 1px 1px rgb(145, 141, 141);
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  /*   line-height: 80px;
  z-index: 100; */
  text-align: center;
}

::-webkit-scrollbar {
  width: 30px;
  height: 30px;
}

::-webkit-scrollbar-button {
  width: 30px;
  height: 30px;
}

.silde-wrapper, .hero .scrool-part .horizontal-silde .silde-container .silde-big-wrapper .silde-out-wrapper .silde-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: calc(21vw + 30px);
  max-height: 63vw;
  margin: 0;
  padding-top: 30px;
  background: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-21vw);
  transform-origin: right top;
  border-radius: 15px;
}
.silde-wrapper .silder-img-box, .hero .scrool-part .horizontal-silde .silde-container .silde-big-wrapper .silde-out-wrapper .silde-wrapper .silder-img-box {
  display: block;
  transform: rotate(90deg);
  transform-origin: right top;
  border-radius: 15px;
  padding: 0 1rem;
}
.silde-wrapper .silder-img-box img, .hero .scrool-part .horizontal-silde .silde-container .silde-big-wrapper .silde-out-wrapper .silde-wrapper .silder-img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 10px solid #fff;
  border-radius: 15px;
}

.squares {
  padding: 21vw 0 0 0;
}
.squares > div {
  width: 21vw;
  height: 21vw;
  margin: 10px 0;
}

.box-11, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-1,
.box-33,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-3,
.box-55,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  position: relative;
  overflow: hidden;
}
.box-11 .hotel-ovl, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-1 .hotel-ovl,
.box-33 .hotel-ovl,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-3 .hotel-ovl,
.box-55 .hotel-ovl,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-5 .hotel-ovl {
  width: 100%;
  height: 100%;
  background-color: #ade1f1;
  position: absolute;
  top: 0;
  left: 0;
}
.box-11 .h-img, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-1 .h-img,
.box-33 .h-img,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-3 .h-img,
.box-55 .h-img,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-5 .h-img {
  width: 55vw;
  height: 65vh;
  padding-left: 100px;
  position: relative;
}
.box-11 .h-img img, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-1 .h-img img,
.box-33 .h-img img,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-3 .h-img img,
.box-55 .h-img img,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-5 .h-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-11 .h-text, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-1 .h-text,
.box-33 .h-text,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-3 .h-text,
.box-55 .h-text,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-5 .h-text {
  width: 50vw;
  height: 100%;
}
.box-11 .h-text .right-text, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-1 .h-text .right-text,
.box-33 .h-text .right-text,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-3 .h-text .right-text,
.box-55 .h-text .right-text,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-5 .h-text .right-text {
  position: absolute;
  top: 70px;
  left: 48%;
  width: 35%;
  height: 30vh;
  background-color: #fff;
  border-radius: 15px;
  padding: 2rem;
  z-index: 10;
  box-shadow: 1px 1px 2px rgb(139, 136, 136), 0 0 1em rgb(19, 191, 197), 0 0 0.2em rgb(36, 176, 241);
}
.box-11 .h-text .right-text h4, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-1 .h-text .right-text h4,
.box-33 .h-text .right-text h4,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-3 .h-text .right-text h4,
.box-55 .h-text .right-text h4,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-5 .h-text .right-text h4 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(29, 46, 202);
  margin-bottom: 1rem;
}
.box-11 .h-text .right-text p, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-1 .h-text .right-text p,
.box-33 .h-text .right-text p,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-3 .h-text .right-text p,
.box-55 .h-text .right-text p,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-5 .h-text .right-text p {
  text-shadow: 1px 1px 1px rgb(145, 141, 141);
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(49, 48, 48);
  /*   line-height: 80px;
  z-index: 100; */
  text-align: start;
}
.box-11 .h-text .right-text a, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-1 .h-text .right-text a,
.box-33 .h-text .right-text a,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-3 .h-text .right-text a,
.box-55 .h-text .right-text a,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-5 .h-text .right-text a {
  text-transform: capitalize;
  float: right;
  margin-top: 1rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(29, 46, 202);
}

.box-22, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-2,
.box-44,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  padding: 4rem;
  position: relative;
  overflow: hidden;
}
.box-22 .hotel-ovl, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-2 .hotel-ovl,
.box-44 .hotel-ovl,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-4 .hotel-ovl {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.box-22 .h-left-img, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-2 .h-left-img,
.box-44 .h-left-img,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-4 .h-left-img {
  width: 60vw;
  height: 85vh;
  position: relative;
  padding-right: 100px;
}
.box-22 .h-left-img img, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-2 .h-left-img img,
.box-44 .h-left-img img,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-4 .h-left-img img {
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-22 .h-left-img img, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-2 .h-left-img img,
.box-44 .h-left-img img,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-4 .h-left-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-22 .h-text, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-2 .h-text,
.box-44 .h-text,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-4 .h-text {
  width: 50vw;
  height: 100%;
}
.box-22 .h-text .left-text, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-2 .h-text .left-text,
.box-44 .h-text .left-text,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-4 .h-text .left-text {
  position: absolute;
  top: 70px;
  right: 48%;
  width: 35%;
  height: 30vh;
  background: #fff;
  padding: 2rem;
  z-index: 10;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgb(139, 136, 136), 0 0 1em rgb(19, 191, 197), 0 0 0.2em rgb(36, 176, 241);
}
.box-22 .h-text .left-text h4, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-2 .h-text .left-text h4,
.box-44 .h-text .left-text h4,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-4 .h-text .left-text h4 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(29, 46, 202);
  margin-bottom: 1rem;
}
.box-22 .h-text .left-text p, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-2 .h-text .left-text p,
.box-44 .h-text .left-text p,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-4 .h-text .left-text p {
  text-shadow: 1px 1px 1px rgb(145, 141, 141);
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(49, 48, 48);
  /*   line-height: 80px;
  z-index: 100; */
  text-align: start;
}
.box-22 .h-text .left-text a, .hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-2 .h-text .left-text a,
.box-44 .h-text .left-text a,
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box .h-box-4 .h-text .left-text a {
  text-transform: capitalize;
  float: right;
  margin-top: 1rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(29, 46, 202);
}

.footer, .hero .scrool-part footer {
  width: 100%;
  height: 50vh;
  background-color: rgb(29, 46, 202);
}
.footer .footer-container, .hero .scrool-part footer .footer-container {
  width: 80%;
  margin-inline: auto;
  padding: 5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer .footer-container h1, .hero .scrool-part footer .footer-container h1 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 5rem;
  font-weight: 300;
  color: #fff;
}
.footer .footer-container ul, .hero .scrool-part footer .footer-container ul {
  margin-bottom: 10px;
}
.footer .footer-container ul li, .hero .scrool-part footer .footer-container ul li {
  text-shadow: 1px 1px 1px rgb(145, 141, 141);
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  /*   line-height: 80px;
  z-index: 100; */
  margin-bottom: 15px;
}
.footer .footer-container ul li:first-child, .hero .scrool-part footer .footer-container ul li:first-child {
  text-shadow: 1px 1px 1px rgb(145, 141, 141);
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  /*   line-height: 80px;
  z-index: 100; */
  margin-bottom: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  background-color: #fff;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header .logo {
  padding: 10px 15px;
  text-transform: uppercase;
}
header .logo h1 {
  text-transform: capitalize;
  color: rgb(29, 46, 202);
}
header nav {
  padding: 0 10px;
}
@media (max-width: 1200px) {
  header nav {
    display: none;
  }
}
header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header nav ul li a {
  font-size: 1.2rem;
  color: rgb(49, 48, 48);
  padding: 0 10px;
}
@media (max-width: 1550px) {
  header nav ul li a {
    font-size: 0.8rem;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero .video-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 7vh;
  left: 0;
}
.hero .video-bg iframe {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero .hero-text {
  position: fixed;
  width: 100%;
  height: 93vh;
  top: 7vh;
  left: 0;
}
.hero .hero-text .text-box {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-text .text-box .main-title {
  padding-top: 100px;
}
.hero .hero-text .text-box .main-title h3 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 2.8rem;
  font-weight: 300;
  color: #fff;
  align-self: start;
  letter-spacing: 10px;
}
.hero .hero-text .text-box .main-title h1 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
  padding-left: 100px;
}
.hero .hero-text .text-box .main-title h1 .sm {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 3.5rem;
  font-weight: 300;
  color: #fff;
  padding-left: 100px;
}
.hero .hero-text .text-box .main-title h1 .bold {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  padding-left: 200px;
}
.hero .hero-text .scroll-down {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-text .scroll-down .scroll-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.hero .hero-text .scroll-down .scroll-text i {
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.hero .hero-text .scroll-down .scroll-text svg {
  width: 30px;
  height: 30px;
}
.hero .hero-text .scroll-down .scroll-text .line {
  width: 2px;
  height: 80px;
  background-color: #fff;
}
.hero .scrool-part {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  top: 100vh;
}
.hero .scrool-part .box-container {
  width: 70%;
  height: auto;
  padding-bottom: 5rem;
  margin-inline: auto;
  position: relative;
}
.hero .scrool-part .box-container .center-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #fff;
}
.hero .scrool-part .box-container .outside-box {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .scrool-part .box-container .outside-box .center-box {
  width: 20%;
  height: 200px;
  background-color: #fff;
  margin-inline: auto;
  border-radius: 15px;
  position: relative;
}
.hero .scrool-part .box-container .outside-box .center-box .title-h1 {
  padding: 3rem 1rem;
  text-align: center;
}
.hero .scrool-part .box-container .big-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: relative;
}
.hero .scrool-part .box-container .big-box .center-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #fff;
}
.hero .scrool-part .box-container .big-box .ball-0 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 49.4%;
  top: 5px;
  box-shadow: 1px 1px 2px rgb(139, 136, 136), 0 0 1em rgb(28, 77, 151);
}
.hero .scrool-part .box-container .big-box .ball-1 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 49.4%;
  top: 45vh;
  box-shadow: 1px 1px 2px rgb(139, 136, 136), 0 0 1em rgb(28, 77, 151);
}
.hero .scrool-part .box-container .big-box .ball-2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 49.4%;
  top: 96vh;
  box-shadow: 1px 1px 2px rgb(139, 136, 136), 0 0 1em rgb(28, 77, 151);
}
.hero .scrool-part .box-container .big-box .ball-3 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 49.4%;
  top: 135vh;
  box-shadow: 1px 1px 2px rgb(139, 136, 136), 0 0 1em rgb(28, 77, 151);
}
.hero .scrool-part .box-container .big-box .ball-4 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 49.4%;
  top: 189vh;
  box-shadow: 1px 1px 2px rgb(139, 136, 136), 0 0 1em rgb(28, 77, 151);
}
.hero .scrool-part .box-container .big-box .ball-5 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 49.4%;
  top: 223vh;
  box-shadow: 1px 1px 2px rgb(139, 136, 136), 0 0 1em rgb(28, 77, 151);
}
.hero .scrool-part .box-container .big-box .flex-box {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.hero .scrool-part .box-container .big-box .flex-box .box-left {
  padding: 1rem;
  align-self: start;
  justify-self: start;
  /*   border: c.$border; */
}
.hero .scrool-part .box-container .big-box .flex-box .box-left .card-trip {
  width: 26vw;
  height: 400px;
  background-color: #fff;
  border-radius: 15px;
}
.hero .scrool-part .box-container .big-box .flex-box .box-left .card-trip .content {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.hero .scrool-part .box-container .big-box .flex-box .box-left .card-trip .content h1 {
  color: rgb(29, 46, 202);
  line-height: 50px;
}
.hero .scrool-part .box-container .big-box .flex-box .box-left .card-trip .content p {
  font-size: 0.8rem;
}
.hero .scrool-part .box-container .big-box .flex-box .box-left .card-trip .content img {
  width: 100%;
  height: 60%;
  padding-top: 10px;
  -o-object-fit: fill;
     object-fit: fill;
}
.hero .scrool-part .box-container .big-box .flex-box .box-left .card-trip .content a {
  font-size: 0.8rem;
  color: rgb(49, 48, 48);
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
}
.hero .scrool-part .box-container .big-box .flex-box .box-left .card-trip .content a:hover {
  color: rgb(29, 46, 202);
}
.hero .scrool-part .box-container .big-box .flex-box .box-right {
  padding: 1rem;
  align-self: flex-end;
  justify-self: end;
  /*   border: c.$border; */
}
.hero .scrool-part .box-container .big-box .flex-box .box-right .card-trip {
  width: 26vw;
  height: 400px;
  background-color: #fff;
  border-radius: 15px;
}
.hero .scrool-part .box-container .big-box .flex-box .box-right .card-trip .content {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.hero .scrool-part .box-container .big-box .flex-box .box-right .card-trip .content h1 {
  color: rgb(29, 46, 202);
  line-height: 50px;
}
.hero .scrool-part .box-container .big-box .flex-box .box-right .card-trip .content p {
  font-size: 0.8rem;
}
.hero .scrool-part .box-container .big-box .flex-box .box-right .card-trip .content img {
  width: 100%;
  height: 60%;
  padding-top: 10px;
  -o-object-fit: fill;
     object-fit: fill;
}
.hero .scrool-part .box-container .big-box .flex-box .box-right .card-trip .content a {
  font-size: 0.8rem;
  color: rgb(49, 48, 48);
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
}
.hero .scrool-part .box-container .big-box .flex-box .box-right .card-trip .content a:hover {
  color: rgb(29, 46, 202);
}
.hero .scrool-part .guidelinr-part {
  width: 100%;
  height: 100vh;
  padding: 15rem 0;
  position: relative;
  background-color: rgb(29, 46, 202);
  overflow: hidden;
}
.hero .scrool-part .guidelinr-part .center-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #fff;
}
.hero .scrool-part .guidelinr-part .guidelinr {
  width: 80%;
  height: 55vh;
  margin-inline: auto;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .scrool-part .guidelinr-part .guidelinr .guidelinr-text {
  width: 50%;
  padding: 0 2rem;
  margin-left: 60px;
}
.hero .scrool-part .guidelinr-part .guidelinr .guidelinr-text h1 {
  color: rgb(29, 46, 202);
  margin-bottom: 1rem;
}
.hero .scrool-part .guidelinr-part .guidelinr .guidelinr-text p {
  line-height: 30px;
}
.hero .scrool-part .guidelinr-part .guidelinr .guidelinr-img {
  width: 70%;
  height: 50vh;
  position: relative;
}
.hero .scrool-part .guidelinr-part .guidelinr .guidelinr-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 127px;
  left: 69px;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgb(139, 136, 136), 0 0 1em rgb(19, 191, 197), 0 0 0.2em rgb(36, 176, 241);
}
.hero .scrool-part .guidelinr-part svg {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  text-align: center;
  transform: translateX(-50%);
}
.hero .scrool-part .scale-part {
  width: 100%;
  height: 100vh;
  background-color: rgb(29, 46, 202);
  position: relative;
}
.hero .scrool-part .scale-part #wrapper-1 {
  z-index: 7;
  transform: scale(1);
}
.hero .scrool-part .scale-part #wrapper-2 {
  z-index: 6;
}
.hero .scrool-part .scale-part #wrapper-3 {
  z-index: 5;
}
.hero .scrool-part .scale-part #wrapper-4 {
  z-index: 4;
}
.hero .scrool-part .scale-part #wrapper-5 {
  z-index: 3;
}
.hero .scrool-part .scale-part #wrapper-6 {
  z-index: 2;
}
.hero .scrool-part .horizontal-silde {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
}
.hero .scrool-part .horizontal-silde .silde-container {
  position: relative;
}
.hero .scrool-part .horizontal-silde .silde-container .center-box {
  width: 20%;
  height: 200px;
  background-color: #fff;
  margin-inline: auto;
  border-radius: 15px;
  position: relative;
  z-index: 100;
}
.hero .scrool-part .horizontal-silde .silde-container .center-box .title-h1 {
  padding: 3rem 1rem;
  text-align: center;
}
.hero .scrool-part .horizontal-silde .silde-container .silde-big-wrapper {
  width: 100%;
  height: 90vh;
  padding: 1rem;
  background-image: url("/image/r-1.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 100px;
  left: 0;
}
.hero .scrool-part .horizontal-silde .silde-container .silde-big-wrapper .silder-flexbox-box {
  display: flex;
  flex-wrap: wrap;
  height: 45vh;
  width: 100%;
  margin-top: 23vh;
  padding: 0 4rem;
}
.hero .scrool-part .horizontal-silde .silde-container .silde-big-wrapper .silder-flexbox-box .silder-title {
  width: 30%;
  height: 100%;
  padding: 6rem 0.2rem;
  border: 10px solid #fff;
  background: linear-gradient(357deg, rgba(185, 230, 244, 0.6460959384) 3%, rgba(29, 46, 202, 0.9962359944) 87%);
  border-radius: 15px;
}
.hero .scrool-part .horizontal-silde .silde-container .silde-big-wrapper .silder-flexbox-box .silder-title h1 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 3px 2px rgb(14, 13, 13);
  padding-left: 100px;
}
.hero .scrool-part .horizontal-silde .silde-container .silde-big-wrapper .silder-flexbox-box .silder-title h1 .sm {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 2.8rem;
  font-weight: 300;
  color: #fff;
  padding-left: 100px;
  text-shadow: 1px 3px 2px rgb(14, 13, 13);
}
.hero .scrool-part .horizontal-silde .silde-container .silde-big-wrapper .silder-flexbox-box .silder-title h1 .bold {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
  padding-left: 150px;
  text-shadow: 1px 3px 2px rgb(14, 13, 13);
}
.hero .scrool-part .horizontal-silde .silde-container .silde-big-wrapper .silde-out-wrapper {
  width: 70%;
  position: relative;
}
.hero .scrool-part .hotel-best {
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, rgba(29, 46, 202, 0.8925945378) 10%, rgba(190, 239, 242, 0.3463760504) 94%);
  padding-top: 100px;
}
.hero .scrool-part .hotel-best .hotel-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero .scrool-part .hotel-best .hotel-container .center-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #fff;
}
.hero .scrool-part .hotel-best .hotel-container .center-box {
  width: 20%;
  height: 200px;
  background-color: #fff;
  margin-inline: auto;
  border-radius: 15px;
  position: relative;
  padding: 3rem 4rem;
}
.hero .scrool-part .hotel-best .hotel-container .center-box h1 {
  text-align: center;
}
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box {
  width: 80%;
  margin-inline: auto;
  margin-top: 10rem;
}
.hero .scrool-part .hotel-best .hotel-container .hotel-out-box .hotel-in-box {
  padding: 0 5rem;
  position: relative;
}/*# sourceMappingURL=about.css.map */