@import "mixin.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background: #e5e3dc;
}

.website-content {
  position: absolute;
  width: 100%;
  height: 100vh;
  font-family: "Roslindale Display Condensed";
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 90%;
    * {
      position: relative;
    }
  }
  .site-header {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    .row {
      @include d-flex(center, center);
      font-size: 8vw;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: -0.4vw;
      &:nth-child(1) {
        width: 80%;
        right: 0;
      }
      &:nth-child(2) {
        position: absolute;
        width: 90%;
        right: 0;
        span {
          font-size: 4vw;
        }
      }
      .header-row {
        position: relative;
        line-height: 75%;
        top: 150px;
        transition: 1s;
      }
      .header-row-wrapper {
        content: "";
        position: absolute;
        top: 140px;
        left: -20px;
        width: 110%;
        height: 150px;
        background-color: #e5e3dc;
        margin: 0 auto;
      }
      span {
        text-transform: lowercase;
        font-style: italic;
        font-weight: lighter;
        font-size: 3vw;
        padding: 0 2em 0 1em;
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 1em;
    width: 100%;
    font-size: 1.8em;
    padding: 2em 6em;
  }
}

.pre-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0a0a0a;
  color: #e5e3dc;
  @include d-flex(center, center);
  z-index: 2;
  .pre-loader-container {
    @include d-flex(center, center);
    flex-direction: column;
    .header {
      position: relative;
      width: max-content;
      margin: 0 auto;
      overflow: hidden;
      h1 {
        position: relative;
        top: 125px;
        text-transform: uppercase;
        text-align: center;
        font-family: "Roslinad Display Condensed";
        font-weight: 500;
        font-size: 5vw;
        line-height: 90%;
        color: #0a0a0a;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
        &:before {
          content: attr(data-text);
          position: absolute;
          color: #e5e3dc;
          overflow: hidden;
          width: 0%;
          top: 100px;
          left: 0;
          transition: 1s;
        }
      }
      .concat {
        display: flex;
      }
    }
  }
}

/* .header-wrapper {
  &::after {
    content: "";
    position: absolute;
    top: 102px;
    left: -20px;
    width: 110%;
    height: 120px;
    background: #bd2828;
    margin: 0 auto;
  }
} */

.pre-loader-btn {
  @include d-flex(center, center);
  position: relative;
  margin: 3em 0 1em 0;
  font-family: "Neue Monteral";
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  img {
    position: relative;
    width: 80px;
    height: 20px;
    top: 5px;
    padding: 0 0.4em;
  }
}
